<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0" id="com.phonegap.getting.started" version="1.0.0">
	<name>Yimi3</name>
	<description>We are Yimi3</description>
	<author href="http://github.com/octopanda" email="william_k_han@foxmail.com">HanKai GuoHaoming DengChanghong</author>
	<icon src="images/yimi.ico" gap:role="default" />
	<feature name="http://api.phonegap.com/1.0/geolocation"/>
	<feature name="http://api.phonegap.com/1.0/network"/>
	<preference name="orientation" value="portrait" />
</widget>